.client-testimonials {
  padding: 2rem;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.testimonial-slider {
  max-width: 100%; /* Ensure the slider doesn't exceed screen width */
  width: 90%; /* Adjust width to fit smaller screens */
  margin: 0 auto;
}

.testimonial {
  background-color: transparent;
  border-radius: 8px;
  padding: 2rem; /* Adjust padding to be mobile-friendly */
  text-align: left;
  position: relative;
  margin-bottom: 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.testimonial:hover {
  background-color: #fff;
  border-color: #2469bc;
  transform: scale(1.05);
  border-radius: 20px;
}

.client-image {
  width: 80px; /* Default size for larger screens */
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .testimonial {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .client-image {
    width: 50px; /* Reduce the size of client image on mobile */
    height: 50px; /* Maintain a square ratio */
    top: 0; /* Adjust vertical positioning for smaller screens */
    margin-bottom: 1rem; /* Ensure adequate space between image and text */
  }

  .section-heading {
    font-size: 2rem; /* Adjust heading for smaller screens */
  }

  .testimonial-text {
    font-size: 1.1rem; /* Adjust text size for better readability on small screens */
  }

  .testimonial-author {
    font-size: 1rem; /* Slightly reduce the font size for mobile */
  }

  .testimonial-company {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  .testimonial-slider {
    width: 100%; /* Ensure slider width fits the screen */
  }
}

.swiper-button-next, .swiper-button-prev {
  background-color: transparent;
  color: #2469bc; /* Color for navigation buttons */
}
