.client-testimonials {
  padding: 2rem;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.testimonial-slider {
  max-width: 100%; /* Ensure the slider doesn't exceed screen width */
  width: 90%; /* Adjust width to fit smaller screens */
  margin: 0 auto;
}

.testimonial {
  background-color: transparent;
  border-radius: 8px;
  padding: 2rem; /* Adjust padding to be mobile-friendly */
  text-align: left;
  position: relative;
  margin-bottom: 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.testimonial:hover {
  background-color: #fff;
  border-color: #2469bc;
  transform: scale(1.05);
  border-radius: 20px;
}

.client-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.testimonial-text {
  font-style: italic;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.testimonial-author {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2469bc;
}

.testimonial-company {
  font-size: 1rem;
  color: #777;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .testimonial {
    padding: 1.5rem; /* Reduce padding for mobile */
  }

  .client-image {
    width: 60px; /* Smaller image size for mobile */
    height: 60px;
    top: -30px;
  }

  .section-heading {
    font-size: 2rem; /* Adjust heading for smaller screens */
  }

  .testimonial-text {
    font-size: 1.1rem;
  }

  .testimonial-author {
    font-size: 1rem;
  }

  .testimonial-company {
    font-size: 0.9rem;
  }

  .testimonial-slider {
    width: 100%; /* Ensure it fits mobile screen width */
  }
}

.swiper-button-next, .swiper-button-prev {
  background-color: transparent;
  color: #2469bc;
}
