/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 15, 0.658) 75%, rgba(0, 0, 15, 0.9));
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  overflow: hidden;
}

/* Navbar styles */


/* Swiper container styles */
.swiper_container {
  width: 100%;
  height: 100%;
  
}

.swiper-slide:hover{
  cursor: pointer;
  .carousel-text{
    transform: scale(1.2) translate(-50%, -50%);
    
   
  }
  .image{
    filter: brightness(105%);
   
  }
}

/* Slide text styles */
.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
 transform:  translate(-50%, -50%);

  color:rgb(24, 22, 22);
  z-index: 10;
  text-align: center;
  font-size: 20px;
  transition: transform 0.5s ease;
  
}

/* Zoom effect on hover */
.swiper-slide:hover .carousel-text {
  transform: scale(1.1) translate(-50%, -50%); /* Scale up slightly */
  
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .carousel-text {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(90px);
    background-color: rgba(255, 255, 255, 0.5);  
    opacity: 80%;
    border-radius: 25px;
  }
}

.carousel-text h2 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: rgb(10, 10, 11);
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  opacity: 100;
}

.carousel-text p {
  font-size: 1.2rem;
}

/* Pagination styles */




/* Navigation button styles */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  color:white;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}
