.construction-message {
    margin-top: 0;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .construction-message p {
    top: -0.04rem;
    position: absolute;
    white-space: nowrap;
    color: rgb(145, 37, 37);
    font-size: large;
    font-weight: bold;
    animation: moveRight 7s linear infinite;
    animation-delay: 5s;
  }
  .second{
    animation: moveRight 5s linear infinite;
    animation-delay:7s;
  }
  
  @keyframes moveRight {
    0% {
      left: -100%; /* Start and end at the right edge */
     /* Reset transform */
    }
    100% {
      left: 100%; /* Move to the left edge */
     /* Move to the left edge */
    }
  }
  